<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit Flair Detector</title>
</head>
<body>
 <form action="" method="post">
        <h2>Reddit Flair Detector</h2>
        <p>
            <label for="subredditurl">Subreddit URL</label>
            <input type="text" name="subredditurl">
        </p>
        <!-- <p>
            <label for="password">Password</label>
            <input type="password" name="password">
        </p> -->
        <p>
            <input type="submit">
        </p>
    </form>
</body>
</html>